@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header h2 {
    margin: 0;
    font-size: 1.5em;
}

.header-content {
    margin-top: 10px;
}

.header-nav {
    text-align: center;
}

.header-nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.header-nav .nav-list li {
    margin: 0 15px;
}

.header-nav .nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.header-nav .nav-list a:hover {
    text-decoration: underline;
}

.nav {
    background-color: #444;
    padding: 10px;
}

.nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav .nav-list li {
    margin: 0 15px;
}

.nav .nav-list a {
    color: #fff;
    text-decoration: none;
}

.nav .nav-list a:hover {
    text-decoration: underline;
}

.content {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
