<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
<html lang="ko">
<head>
	<title>{% block title %}비밀번호 재설정</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
{% endblock %}

{% block content %}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					{% csrf_token %}

					<span class="login100-form-title p-b-43">
						비밀번호 재설정
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text" name="username" id="id_username" maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">아이디</span>
						{% if form.username.errors %}
						<div class="error">{{ form.username.errors }}</div>
						{% endif %}
					</div>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="email" name="email" id="id_email" maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">이메일 주소</span>
						{% if form.email.errors %}
							<div class="error">{{ form.email.errors }}</div>
						{% endif %}
					</div>

					{% include 'registration/form_errors.html' %}

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn" id="password-reset-btn">
							비밀번호 재설정 링크 보내기
						</button>
					</div>

				</form>
				<div class="login100-more">
					<video width="100%" autoplay loop>
						<source src="{% static 'images/영상2.mp4' %}" type="video/mp4">
					  </video>
				</div>
			</div>
		</div>
	</div>
</body>
{% endblock %}
</html>