<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
<html lang="ko">
<head>
	<title>{% block title %}비밀번호 재설정</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>
        .warning-text {
            font-size: 0.8em;
            color: black;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        .errorlist {
            font-size: 0.8em;
            color: #FF0000;
            margin-top: -10px;
            margin-bottom: 10px;
        }
        .successlist {
            color: blue;
        }
        .faillist {
            color: red;
        }        
    </style>	
</head>
{% endblock %}

{% block content %}
<body style="background-color: #666666;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form method="post" class="login100-form validate-form">
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						비밀번호 재설정
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password1" id="new_password1" autocomplete="new-password" maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">새 비밀번호</span>
					</div>
					<p class="warning-text">* 숫자로만 포함되지 않은 8자 이상 입력 가능합니다.</p>
                    <div id="password1-error" class="faillist" style="display: none;"></div>
					
					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="new_password2" id="new_password2" autocomplete="new-password" maxlength="150" required>
						<span class="focus-input100"></span>
						<span class="label-input100">새 비밀번호 확인</span>
					</div>
                    <div id="password2-error" class="faillist" style="display: none;"></div>
                    {% include 'registration/form_errors.html' %} <!-- 오류 검증 추가 -->

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							비밀번호 재설정
						</button>
					</div>
                </form>
                <div class="login100-more">
					<video width="100%" autoplay loop>
						<source src="{% static 'images/영상2.mp4' %}" type="video/mp4">
					  </video>
				</div>
            </div>
        </div>
    </div>
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>	
	<script>
        function checkPasswordMatch() {
            var password1 = $('#new_password1').val();
            var password2 = $('#new_password2').val();
            var numberOnlyPattern = /^\d+$/;
            if (password1 !== ''){
                if (password1.length < 8) {
                    $('#password2-error.errorlist').hide();
                    $('#password2-error').text('비밀번호는 최소 8자 이상이어야 합니다.').removeClass('successlist').addClass('faillist').show();
                }else if (numberOnlyPattern.test(password1)) {
                    $('#password2-error').text('비밀번호는 숫자로만 이루어질 수 없습니다.').removeClass('successlist').addClass('faillist').show();
                }    
                else if (password1 === password2) {
                    $('#password2-error.errorlist').hide();
                    $('#password2-error').text('비밀번호가 일치합니다.').removeClass('faillist').addClass('successlist').show();
                } else {
                    $('#password2-error').text('비밀번호가 일치하지 않습니다.').removeClass('successlist').addClass('faillist').show();
                }
            } else {
                $('#password2-error').hide();
            }
        }
        $(document).ready(function() {
            // 처음 제출 시 에러 메시지 활성화
            $('form').on('submit', function(event) {
                var password1 = $('#new_password1').val();
                var password2 = $('#new_password2').val();
                if (password1 !== password2) {
                    $('#password2-error').text('비밀번호가 일치하지 않습니다.').removeClass('successlist').addClass('faillist').show();
                }
            });

            // 실시간 비밀번호 일치 여부 확인
            $('#new_password1, #new_password2').on('input', checkPasswordMatch);
        });

        $('#new_password1, #new_password2').on('input', checkPasswordMatch);
	</script>
</body>
{% endblock %}
</html>